@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,800;1,100;1,300;1,400&display=swap" rel="stylesheet');   


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-seri;
}
.contact{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url(back1.jpeg);
	background-size: cover;
}
.contact .content{
	max-width: 800px;
	text-align: center;

}
.contact .content h2{
	font-size: 36px;
	font-weight: 500;
	color: blue;
}
.contact .content p{
	font-weight: 300;
	color: red;
}
.container{
	width: 100%;
	display: flex ;
	justify-content:left;
	align-items: center;
	margin-top: 30px;
}
.container .contactInfo{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container .contactInfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;
	}
.container .contactInfo .box .icon{
	min-width: 60px;
	height: 60px;
	background: hotpink;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.container .contactInfo .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: indianred;
	flex-direction: column;
	font-weight: 300;
}
.container .contactInfo .box .text h3{
	font-weight: 500px;
	color: green;
}
.contactForm{
	width: 100%;
	padding: 10px;
	background: yellow;
}
.contactForm h2{
	width: 200px;
	color: blueviolet;
	margin-top: 10px;
}

.contactForm .inputbox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm .inputbox input{
	width: 100px;
	padding: 5px 0;
	font-size: 12px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid black;
	outline: none;
	resize: none;
}

.contactForm .inputbox span{
	position: absolute;
	left: 0px;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: hotpink;
}

.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox textarea:valid ~ span
{
	color: burlywood;
	font-size: 12px;
	transform: translateY(-20px);
	
}
.contactForm .inputbox input[type="submit"]
{
	width: 100px;
	background: coral;
	color: red;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

@media (max-width: 991px)
{
	.contact{
		padding: 50px;

	}
	.container{
		flex-direction: column;
	}
	.container .contactInfo{
		margin-bottom: 40px;
	}
	.container .contactInfo
	.contactForm{
		width: 100%;
	}

}